<section class="row">
    <div class="span12">
        <h1 itemprop="name">{{ document.name }}</h1>

        <p class="lead">
            <em>{{ document.description }}</em>
        </p>

        {% autoescape false %}
        <div itempprop="articleSection">
            {{ document.articleSection }}
        </div>
        {% endautoescape %}

        {% include "BlackArticleBundle:Article:_info.html.twig" %}
    </div>
</section>
