{% extends '::base.html.twig' %}

{% block body %}

    <div class="container">

        {% include "BlackArticleBundle:Article:_article.html.twig" %}

        <div class="row">
            {% include 'BlackArticleBundle:Article:_pagerKeyword.html.twig' %}
        </div>

    </div>
{% endblock body %}
